@page "/Experience"
@using Ezeji_Udoka_Akans.Models;

<h2>Work Experience</h2>

<table class="table">
    <thead>
        <tr>
            <th>Position</th>
            <th>Company</th>
            <th>Duration</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var experience in Model)
        {
            <tr>
                <td>@experience.Position</td>
                <td>@experience.Company</td>
                <td>@experience.StartDate - @experience.EndDate</td>
                <td>@experience.Description</td>
            </tr>
        }
    </tbody>
</table>

@code {
    List<ExperienceModel> Model = new List<ExperienceModel>
    {

            new ExperienceModel
            {
                Position = "Back End Developer",
                Company = "Sterling Bank",
                StartDate =" 2023 June",
                EndDate = "Present",
                Description = "• Collaborate with cross-functional teams to understand software requirements and user needs." +
                              "\r\n• Assist in the design and development of software solutions, including coding, testing, debugging, and documentation." +
                              "\r\n• Work on bug fixes and software enhancements to improve existing applications." +
                              "\r\n• Contribute to the maintenance and optimization of databases, APIs, and backend services." +
                              "\r\n• Assist in the identification and resolution of software defects." +
                              "\r\n• Stay up-to-date with emerging software development trends and technologies." +
                              "\r\n• Assist with troubleshooting and providing technical support to end-users as needed." +
                              "\r\n• Collaborate with team members to meet project deadlines and deliver high-quality software solutions."
            },

              new ExperienceModel
            {
                Position = "Full-stack Developer ",
                Company = "Decagon",
                StartDate = "2022 Nov",
                EndDate = "2023 June",
                Description = "• Build real-time applications that are efficient, scalable, maintainable, extensible, and testable." +
                              "\r\n•Improved and worked on the existing codebase and effectively managed software functionalities" +
                              "\r\n•Produced clean, error-free code to meet aggressive timelines." +
                              "\r\n• IT training of clients/customers employees on the use and maintenance of software functionalities built by our team." +
                              "\r\n• Improve, migrate and work on the existing codebase." +
                              "\r\n•Communicate with business analysts and product owners to clarify requirements in a distributed team environment."

            },

              new ExperienceModel
            {
                Position = "Software Engineer) ",
                Company = "Winks Global Services",
                StartDate = "2020 June",
                EndDate = "2022 Oct",
                Description = "•Improved and worked on the existing codebase and effectively managed software functionalities." +
                              "\r\n•Produced clean, error-free code to meet aggressive timelines." +
                              "\r\n•IT training of clients/customers employees on the use and maintenance of software functionalitiesbuilt by our team." +
                              "\r\n• Improve, migrate and work on the existing codebase." +
                              "\r\n• Communicate with business analysts and product owners to clarify requirements in a distributed teamenvironment."

            },

    };
}
