@page "/Project"
@using Ezeji_Udoka_Akans.Models;

<h2>Projects</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Tools</th>
            <th>Role</th>
            <th>Link</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var project in Model)
        {
            <tr>
                <td>@project.Name</td>
                <td>@project.Description</td>
                <td>@project.Tools</td>
                <td>@project.Role</td>
                <td>
                    <a href="@project.Link" target="_blank">Visit the website</a>
                </td>
                
            </tr>
        }
    </tbody>
</table>

    @code {
        List<ProjectModel> Model = new();
    }
